GEMINI_API_KEY=你的API金鑰
DB_HOST=host.docker.internal
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=你的密碼
DB_NAME=your_db_name

### 要把這份改名為 .env 並填入自己的資料。
### 如果用 Docker 跑用 DB_HOST=host.docker.internal
### 如果只是要在vscode上跑用 DB_HOST=127.0.0.1